.login-box {
  padding: 25px;
  background-color: #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  outline: none;
  border: none;
  background-color: transparent;
  float: right;
}