.login-box {
  padding: 25px;
  background-color: #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  outline: none;
  border: none;
  background-color: transparent;
  float: right;
}

.bpi-form {
  padding: 25px;
  background-color: #ccc;
  border-radius: 10px;
}

.santander-form {
  padding: 25px;
  background-color: #ccc;
  border-radius: 10px;
}

.dashboard-section {
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #555;
}

.pencil-btn {
  display: inline-block;
  cursor: pointer;
}

.set-language-btn {
  padding: 15px;
  cursor: pointer;
}